<div class="user-profile-wrapper">
  <!-- Bloco principal -->
  <div class="user-profile-block">
    <!-- Capa -->
    <div class="profile-cover"></div>

    <!-- Avatar flutuando -->
    <div class="avatar-container">
      <p-avatar
        [label]="getAvatarInitials()"
        shape="circle"
        size="xlarge"
        styleClass="avatar-image"
      ></p-avatar>
    </div>

    <!-- Ações -->
    <div class="action-buttons">
      <button
        pButton
        label="Alterar senha"
        class="p-button-outlined"
        [ngStyle]="{ color: '#12619e', borderColor: '#12619e' }"
      ></button>

      <button
        pButton
        label="Editar usuário"
        class="p-button"
        [ngStyle]="{ backgroundColor: '#12619e', borderColor: '#12619e' }"
      ></button>
    </div>

    <!-- Cabeçalho -->
    <div class="text-section">
      <h2>Perfil</h2>
      <p>Perfil do usuário</p>
    </div>

    <p-divider></p-divider>

    <!-- Informações de Acesso -->
    <div class="text-section">
      <h3>Acesso</h3>
    </div>
    <br>
    <div class="info-grid">
      <div class="info-label">Nome</div>
      <div class="info-value">{{ user.nome }}</div>

      <div class="info-label">Endereço</div>
      <div class="info-value">{{ user.endereco }}</div>

      <div class="info-label">CEP</div>
      <div class="info-value">{{ user.cep }}</div>

      <div class="info-label">Bairro</div>
      <div class="info-value">{{ user.bairro }}</div>

      <div class="info-label">Estado</div>
      <div class="info-value">{{ user.estado }}</div>

      <div class="info-label">Telefone</div>
      <div class="info-value">{{ user.telefone }}</div>

      <div class="info-label">E-mail</div>
      <div class="info-value">{{ user.email }}</div>

      <div class="info-label">Grupo de Acesso</div>
      <div class="info-value">{{ user.grupoAcesso }}</div>
    </div>

    <p-divider></p-divider>

    <!-- Informações do Grupo de Acesso -->
    <div class="text-section">
      <h3>Grupo de Acesso</h3>
    </div>
    <br>
    <div class="info-grid">
      <div class="info-label">Nome do Grupo</div>
      <div class="info-value">{{ user.grupoAcessoDetalhes.nomeGrupo }}</div>

      <div class="info-label">Permissões</div>
      <div class="info-value">{{ user.grupoAcessoDetalhes.permissoes.join(', ') }}</div>
    </div>
  </div>
</div>