<p-sidebar [(visible)]="visible" position="left" [style]="{width: '250px'}">
  <h2>Sistema de Arquivos</h2>
  <ul style="list-style: none; padding: 0;">
    <li *ngFor="let module of modules" 
    (click)="visible = false"
    style="padding: 10px; cursor: pointer; display: flex; align-items: center; gap: 10px;">
  <a [routerLink]="module.route" routerLinkActive="active" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
    <i [class]="module.icon"></i>
    <span>{{module.label}}</span>
  </a>
</li>
  </ul>
</p-sidebar>

<!-- Botão para abrir/fechar o sidebar -->
<p-button icon="pi pi-bars" (onClick)="visible = !visible" [style]="{}"></p-button>